body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #061829;
    background: #fff;
    margin: 0;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #061829;
    transition: all .3s;
}
a:hover {
    text-decoration: none;
    color: #061829;
}
button:focus {
    outline: none;
}
.section-container {
    max-width: 1170px;
    margin: 0 auto;
}


.header-top-area {
	background: #247CFF;
	color: #fff;
	padding: 15px 0;
}
.header-top-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-top-left {
	font-size: 16px;
	font-weight: 500;
}
.header-top-left, .header-top-right {
    width: 50%;
}
.header-top-right a {
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 500;
	color: #fff;
}
.header-top-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.header-top-right a img {
	margin-right: 5px;
}
.header-top-right .location {
	position: relative;
	margin-right: 30px;
	padding-right: 30px;
}
.header-top-right .location::after {
	content: '';
	width: 1px;
	height: 18px;
	background: #B8ECFF;
	position: absolute;
	right: 0;
}
.header-area {
	background: #fff;
	padding: 17px 0;
}
.header-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-logo {
	width: 210px;
}
.header-menu {
	width: calc(100% - 210px);
	display: flex;
	justify-content: flex-end;
}
.side-menu-close {
	background: transparent;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
    display: none;
    
}
.side-menu-close span {
	height: 2px;
	width: 20px;
	background: #fff;
	position: relative;
	opacity: 1;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
    display: block;
}
header .side-menu-close span {
	background: #21395F;
	width: 28px;
}
.side-menu-close span:nth-child(1) {
	top: -5px;
}
.side-menu-close span:nth-child(3) {
	bottom: -5px;
}
.side-menu-close.closed span:nth-child(1) {
	transform: translateY(7px) rotate(45deg);
	-webkit-transform: translateY(7px) rotate(45deg);
	-moz-transform: translateY(7px) rotate(45deg);
	-ms-transform: translateY(7px) rotate(45deg);
	-o-transform: translateY(7px) rotate(45deg);
}
.side-menu-close.closed span:nth-child(2) {
	opacity: 0;
}
.side-menu-close.closed span:nth-child(3) {
	transform: translateY(-7px) rotate(-45deg);
	-webkit-transform: translateY(-7px) rotate(-45deg);
	-moz-transform: translateY(-7px) rotate(-45deg);
	-ms-transform: translateY(-7px) rotate(-45deg);
	-o-transform: translateY(-7px) rotate(-45deg);
}
.side-menu-wrap {
	width: 240px;
	position: fixed;
	left: -100%;
	top: 0;
	background: #fff;
	height: 100%;
	box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
	overflow-y: auto;
	z-index: 15000;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
}
.side-menu-nav .main-menu {
    padding: 0;
}
.side-menu-wrap.opened {
	left: 0;
	transition: .8s;
	-webkit-transition: .8s;
	-moz-transition: .8s;
	-ms-transition: .8s;
	-o-transition: .8s;
}
.side-menu-nav ul {
	display: flex;
	flex-direction: column;
}
.side-menu-nav ul li {
	list-style: none;
}
.side-menu-nav ul li a {
	font-size: 18px;
	margin: ;
	padding: 4px 0;
	display: block;
}
@media only screen and (max-width: 991px) {
    .side-menu-close {
        display: flex;
    }
    .nav-menu-area {
        display: none;
    }
} 



.main-menu {
	display: flex;
	align-items: center;
}
.main-menu li a {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0 20px;
	line-height: 49px;
}
.main-menu li {
    list-style: none;
}
.main-menu li a:hover {
    color: #247CFF;
}
.main-menu .login {
	width: 145px;
	background: #247CFF;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	line-height: 49px;
	cursor: pointer;
	transition: all .3s;
	border: none;
	margin-left: 20px;
	text-transform: uppercase;
}
.main-menu .login:hover {
    background: #061829;
}
.banner-area {
	background-color: #F3F8FF;
	height: 744px;
}

.banner-row {
	display: flex;
	align-items: flex-end;
}
.banner-left {
	width: 665px;
}
.banner-right {
    width: calc(100% - 665px);
}
.banner-left-inner {
	display: flex;
	flex-direction: column;
}
.banner-left-inner .top h5 {
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 8px;
}
.banner-left-inner .top h1 {
	margin: 0;
	font-size: 56px;
	font-weight: 700;
	color: #247CFF;
	margin-bottom: 5px;
}
.banner-left-inner .top p {
	margin: 0;
	font-size: 21px;
}
.banner-left-inner .top {
	margin-bottom: 80px;
}
.banner-buttons {
	display: flex;
	align-items: center;
	margin-bottom: 87px;
}
.banner-buttons a {
	width: 203px;
	border: 1px solid #247CFF;
	height: 53px;
	text-align: center;
	line-height: 53px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #247CFF;
	border-radius: 26px;
}
.banner-buttons a:hover {
    background-color: #247CFF;
    color: #fff;
}
.banner-buttons .blue {
	background-color: #247CFF;
	color: #fff;
	margin-right: 25px;
}
.banner-buttons .blue:hover {
	color: #247CFF;
	background-color: transparent;
}
.banner-socials-inner {
	max-width: 347px;
	background: #fff;
	padding: 20px 47px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.skills-area {
	padding: 95px 0;
}
.section-title {
	text-align: center;
	font-size: 31px;
	font-weight: 700;
	text-transform: uppercase;
	color: #247CFF;
	margin: 0;
	line-height: 31px;
	margin-bottom: 80px;
}
.skills-boxs-wrapper {
	display: flex;
}
.skills-boxs-left {
	width: 610px;
	padding-right: 60px;
}
.skills-boxs-right {
    width: calc(100% - 670px)
}
.skills-box-single {
	display: flex;
	margin-bottom: 68px;
}
.skills-box-single .left {
	width: 75px;
	display: flex;
}
.skills-box-single .right {
	width: calc(100% - 90px);
}
.skills-box-single .right h3 {
	margin: 0;
	font-size: 27px;
	line-height: 27px;
	font-weight: 700;
	margin-bottom: 18px;
    text-transform: uppercase;
}
.skills-box-single .right p {
	margin: 0;
	font-size: 20px;
	line-height: 31px;
}



.appointment-area-wrapper {
	display: flex;
	align-items: flex-start;
	background: #fff;
}
.appointment-left-select {
	width: 420px;
}
.appointment-title-area {
	margin-top: -70px;
	position: relative;
	z-index: 9;
}
.appointment-title-area .title {
	background: #247CFF;
	padding: 20px 0;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.appointment-title-area .title img {
	margin-right: 10px;
}
.appointment-title-area .title span {
	font-size: 17px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
.appointment-radio-content-wrapper {
	display: flex;
	align-items: flex-start;
}
.appointment-radio-content-wrapper .left {
	width: 27px;
	margin-right: 13px;
}
.appointment-radio-content-wrapper .left .image {
	width: 27px;
	height: 27px;
	background: #247CFF;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.appointment-radio-content-right {
	width: calc(100% - 100px);
}
.appointment-radio-content-right h2 {
	font-size: 14px;
	font-weight: 600;
	color: #247CFF;
	margin: 0;
	line-height: 27px;
}
.appointment-radio-content-right p {
	font-size: 12px;
	color: #696969;
	margin: 0;
	line-height: 15px;
	margin-top: 2px;
	padding-bottom: 11px;
	border-bottom: 1px solid #F5F5F5;
}
.appointment-radio-content-right-bottom h5 {
	font-size: 13px;
	color: #7D7D7D;
	margin: 0;
	padding-right: 10px;
	margin-right: 5px;
	position: relative;
	line-height: 15px;
}
.appointment-radio-content-right-bottom h5::after {
	content: '';
	width: 1px;
	height: 8px;
	display: block;
	background: #E4E4E4;
	position: absolute;
	top: 6px;
	transition: ;
	right: 0;
}
.appointment-radio-content-right-bottom .iconn {
	font-size: 10px;
	color: #7D7D7D;
	justify-content: center;
	margin-top: 4px;
}
.appointment-radio-content-right-bottom {
	display: flex;
	align-items: center;
	margin-top: 0;
}
.appointment-radio-content-right-bottom .iconn {
	font-size: 10px;
	color: #7D7D7D;
	margin-top: 4px;
	display: flex;
	align-items: center;
}
.appointment-radio-content-right-bottom .iconn span {
	font-size: 14px;
	font-weight: 500;
	margin: 0 2px;
}
.lk-radio {
	padding: 20px 25px 15px;
	display: block;
	border-bottom: 1px solid #E4E4E4;
	position: relative;
	cursor: pointer;
}
.lk-radio input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.lk-radio-input span {
	position: absolute;
	top: 1px;
	left: 0;
	display: block;
	width: 19px;
	height: 19px;
	background-color: #EFEFEF;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 50%;
}
.lk-radio-input input:checked ~ span::after {
	content: '';
	display: block;
	width: 11px;
	height: 11px;
	background: #247CFF;
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 1;
	border-radius: 50%;
}
.lk-radio-input:checked ~ span::after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	background: #FFF;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	border-radius: 50%;
}
.lk-radio-input {
	position: absolute;
	right: 25px;
}
.appointment-select-area {
	border-right: 1px solid #E4E4E4;
	border-left: 1px solid #E4E4E4;
}
.appointment-area {
	background: #fff;
	padding-bottom: 50px;
	border-top: 1px solid #E4E4E4;
}
/*calender*/
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  font-size: 12px;
}
thead {
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3;
}
td,
th {
/*   border: 1px solid black; */
  padding: 10px;
  text-align: center;
}
td {
   cursor: pointer; 
}

td:hover {
  background-color: #247CFF;
  border-radius: 15px;
    color: #fff;
}

th {
  font-weight: 500;
}

.month-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.calendar {
  width: 100%;
}
#prev, #next {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 7px;
}




.appointment-right-calender {
	width: calc(100% - 420px);
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-bottom: 1px solid #ECECEC;
}
.calender-area {
	width: calc(100% - 150px);
	padding: 30px 70px;
}
.calender-buttons {
    width: 150px;
}
.calender-upper {
	font-size: 12px;
	font-weight: 500;
	color: #0E1130;
}
.month-switcher span {
	font-size: 12px;
	font-weight: 600;
}
.month-switcher {
    margin-bottom: 7px;
}
.calender-bottom {
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.calender-bottom button {
	width: 90px;
	padding: 5px 0;
	background: #247CFF;
	border: navajowhite;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
    cursor: pointer;
}
.calender-bottom p {
	width: calc(100% - 100px);
	font-size: 11px;
	line-height: 13px;
    margin: 0
}
.calender-bottom p a {
	color: #247CFF;
}
.calender-buttons {
	border-left: 1px solid #ECECEC;
	overflow-x: auto;
	height: 444px;
	border-right: 1px solid #ECECEC;
}
.calender-buttons button {
	height: 40px;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ECECEC;
	background: #fff;
	font-size: 12px;
	color: #2F3A5F;
	cursor: pointer;
	transition: all .3s;
	display: block;
    box-shadow: border-box;
}
.calender-buttons button:last-child {
    border-bottom: none;
}
.calender-buttons button:hover {
    background: #247CFF;
    color: #fff;
}

.contact-area {
	padding-top: 41px;
	padding-bottom: 80px;
}
.contact-area .section-title {
    margin-bottom: 40px;
}
.form-wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 15px;
}
.form-wrapper input {
	height: 57px;
	border: 1px solid #AEBCD1;
	padding: 0 15px;
	font-size: 14px;
	width: 100%;
	font-weight: 500;
}
.form-wrapper input::placeholder {
  color: #A0A3A8;
  opacity: 1;
}

.form-wrapper input:-ms-input-placeholder {
  color: #A0A3A8;
}

.form-wrapper input::-ms-input-placeholder {
  color: #A0A3A8;
}
.form-row-two {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 25px;
}
.form-row {
	display: flex;
}
.form-row-two, .form-row  {
    margin-bottom: 25px;
}
.form-wrapper select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.form-wrapper select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	height: 57px;
	border: 1px solid #AEBCD1;
	padding: 0 15px;
	font-size: 14px;
	width: 100%;
	font-weight: 500;
	color: #A0A3A8;
}
.form-wrapper textarea {
	border: 1px solid #AEBCD1;
	padding: 0 15px;
	font-size: 14px;
	width: 100%;
	font-weight: 500;
	resize: none;
	padding-top: 20px;
	height: 185px;
	font-family: 'Poppins', sans-serif;
	color: #A0A3A8;
}
.form-wrapper input[type="submit"] {
	width: 225px;
	height: 63px;
	border: none;
	background: #247CFF;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	transition: all .3s;
	border-radius: 32px;
}
.form-contact-row {
	display: flex;
	align-items: flex-end;
}
.form-wrapper input:focus, .form-wrapper textarea:focus {
    border-color: rgba(36, 124, 255, .5);
}
.portfolio-area {
	padding-top: 100px;
	padding-bottom: 80px;
	background: #F3F8FF;
}
.portfolio-area .section-title {
	font-size: 38px;
	margin-bottom: 70px;
}
.portfolio-items-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolio-items-wrapper .portfolio-single {
	width: calc(50% - 15px);
	margin-bottom: 60px;
}
.portfolio-single .image {
	border: 10px solid #fff;
}
.portfolio-single .image-inner {
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}
.portfolio-single h2 {
	font-size: 27px;
	font-weight: 700;
	text-transform: uppercase;
	color: #247CFF;
	margin-top: 25px;
	margin-bottom: 5px;
}
.portfolio-single p {
	font-size: 18px;
	line-height: 30px;
	margin: 0;
}
.skills-button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.booking-section-title-area {
	padding: 40px 0;
	background: #247CFF;
}
.booking-section-title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.booking-section-title img {
	margin-right: 17px;
}
.law-find-us-bottom {
	display: flex;
	column-gap: 80px;
	background: #fff;
}
.law-find-us-bottom .left, .law-find-us-bottom .right {
	width: calc(50% - 40px);
}
.single-fine-us-block {
	min-height: 165px;
	display: flex;
	align-items: center;
    justify-content: space-between;
	padding: 0px 40px;
	border-bottom: 1px solid #E5E5E5;
    transition: all .3s;
}
.single-fine-us-block:hover {
    color: #2F3A5F;
    background: #E9F2FF;
}
.single-fine-us-block-left {
	width: calc(100% - 85px);
}
.single-fine-us-block-left-upper {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.single-fine-us-block-left-upper .icon {
	width: 32px;
	background: #247CFF;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.single-fine-us-block-left-upper .icon {
	width: 32px;
	background: #247CFF;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.single-fine-us-block-left-bottom {
	line-height: 25px;
}
.single-fine-us-block-right {
	width: 45px;
}
.single-fine-us-block-left-upper h4 {
	margin: 0;
	width: calc(100% - 32px);
	padding-left: 10px;
}
.single-fine-us-block-right {
	width: 45px;
	height: 45px;
	border: 1px solid #E2E2E2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
    transition: all .3s;
}
.single-fine-us-block:hover .single-fine-us-block-right {
    border-color: #247CFF;
    background: #247CFF;
}
.single-fine-us-block:hover .single-fine-us-block-right img {
    filter: grayscale(0) brightness(100);
}
.law-find-us .section-container {
	position: relative;
	z-index: 9;
}
.law-find-us {
    border-bottom: 1px solid #E5E5E5;
}
.single-fine-us-block:last-child {
    border-bottom: none;
}
.cta-area {
	padding: 30px 0;
	background: #E5F3FF;
}
.cta-area .section-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cta-left {
	width: 50%;
}
.cta-left p {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}
.cta-left a {
	font-size: 20px;
	color: #247CFF;
	font-weight: 600;
    transition: all .5s;
}
.cta-left a img {
	margin-left: 5px;
    transition: all .3s;
}
.cta-left a:hover img {
	margin-left: 10px;
}
.cta-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 230px;
}
.cta-right h4 {
	margin: 0;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 7px;
}
.cta-socials-inner {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-area {
	background: #fff;
	padding-top: 80px;
	padding-bottom: 65px;
	color: #061829;
}
.footer-row {
	display: flex;
	justify-content: space-between;
}
.footer-widget1 {
	width: 352px;
	padding-right: 70px;
}
.footer-widget1 a img {
	margin-bottom: 5px;
}
.footer-widget1 p {
	margin: 0;
	font-size: 16px;
	line-height: 32px;
}
.footer-widget2 {
	width: 220px;
}
.footer-widget3 {
	width: 240px;
}
.footer-row h2 {
	margin-bottom: 25px;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #247CFF;
}
.footer-widget-list, .footer-widget-list-contact {
	margin: 0;
	padding: 0;
}
.footer-widget-list li, .footer-widget-list-contact {
	list-style: none;
	padding: 9px 0;
}
.footer-widget-list li a, .footer-widget-list-contact a {
	font-size: 16px;
	color: #061829;
	font-weight: 500;
}
.footer-widget-list-contact {
	margin: 0;
	padding: 0;
}
.footer-widget-list-contact a {
	display: flex;
	align-items: flex-start;
	padding: 5px 0;
}
.footer-widget-list-contact a span {
	width: 21px;
	height: 22px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-right: 17px;
	margin-top: 5px;
}
.footer-widget-list li a:hover {
    color: #247CFF;
}
.footer-bottom {
	background: #fff;
	border-top: 1px solid #D9D9D9;
	color: #061829;
	padding: 30px 15px;
	text-align: center;
	font-size: 16px;
}
.footer-bottom a {
    color: #061829;
}
.footer-bottom a:hover {
    color: #247CFF;
}
.testimonial-single-inner {
	border: 1px solid #247CFF;
	padding: 70px 35px 45px 35px;
    position: relative;
    margin-top: 74px;
}
.testimonial-single-inner .avatar {
	width: 148px;
	height: 148px;
	position: absolute;
	top: -74px;
	left: 0;
}
.testimonial-single-inner h3 {
	font-size: 14px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 35px;
}
.testimonial-single-inner p {
	font-size: 15px;
	color: #247CFF;
	line-height: 26px;
	margin-bottom: 40px;
}
.testimonial-single-inner .locationn {
	display: flex;
	align-items: center;
}
.testimonial-single-inner .locationn img {
	width: 13px;
	margin-right: 6px;
}
.testimonial-single-inner .locationn span {
	font-size: 12px;
	font-weight: 600;
}
.testimonial-area {
	padding: 80px 0;
}
.testimonial-area .section-title {
	margin-bottom: 20px;
}
.testimonial-wrapper .owl-nav {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.skills-button button {
	width: 350px;
	height: 73px;
	border: none;
	background: #247CFF;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 40px;
	cursor: pointer;
}
.form-wrapper input:focus, .form-wrapper select:focus, .form-wrapper textarea:focus {
    outline: 1px solid #247CFF;
}
.form-wrapper input[type="submit"]:focus {
    outline: none;
}

@media only screen and (max-width: 1170px) {
    .header-row, .banner-row, .skills-row, .appointment-title-area .title, .portfolio-area .section-row, .booking-section-title, .testimonial-area .section-title, .testimonial-wrapper, .cta-area .section-row, .footer-row, .footer-bottom-row {
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-wrapper {
        max-width: 100%;
    }
    .skills-boxs-left, .skills-boxs-right {
        width: 50%;
    }
}
@media only screen and (max-width: 991px) {
    .appointment-area-wrapper {
        flex-wrap: wrap;
    }
    .appointment-left-select {
        width: 100%;
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .appointment-select-area {
        border-left: 1px solid #E4E4E4;
    }
    .appointment-right-calender {
        width: 100%;
        margin: 0 15px;
    }
    .calender-area {
        padding-left: 0;
        padding-right: 20px;
    }
    .banner-left {
        width: 100%;
    }
    .banner-right {
        display: none;
    }
    .banner-area {
        height: auto;
        padding: 100px 0;
    }
    .law-find-us-bottom {
        flex-wrap: wrap;
    }
    .law-find-us-bottom .left, .law-find-us-bottom .right {
        width: 100%;
    }
}

@media only screen and (max-width: 776px) {
    .skills-boxs-wrapper, .form-row-two, .portfolio-items-wrapper, .footer-row {
        flex-wrap: wrap;
    }
    .skills-boxs-left, .skills-boxs-right {
        width: 100%;
        padding-right: 0;
    }
    .form-row-two input, .form-row-two select {
        width: 100%;
    }
    .portfolio-items-wrapper .portfolio-single {
        width: 100%;
    }
    .footer-widget1, .footer-widget2, .footer-widget3, .footer-widget4 {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
    }
    .cta-area .section-row {
        flex-wrap: wrap;
    }
    .cta-left, .cta-right {
        width: 100%;
    }
    .cta-left {
        margin-bottom: 30px;
    }
    .cta-socials-inner {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .cta-socials-inner a {
        margin-right: 15px;
    }
    .form-row-two {
        gap: 0;
    }
    .form-row-two input:last-child {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .appointment-right-calender {
        flex-wrap: wrap;
    }
    .calender-area {
        width: 100%;
        padding-right: 0;
    }
    .calender-buttons {
        width: 100%;
        border: 1px solid #ECECEC;
    }
    .booking-section-title {
        font-size: 20px;
    }
    .single-fine-us-block {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .skills-button button {
        width: auto;
        padding-right: 30px;
        padding-left: 30px;
    }
    .appointment-title-area {
        margin-top: 0;
    }
    .skills-area {
        padding-bottom: 20px;
    }
    .appointment-title-area .title span {
        font-size: 14px;
    }
    .appointment-title-area .title {
        flex-wrap: wrap;
        width: auto;
    }
    .banner-left-inner .top h5 {
        font-size: 18px;
    }
    .banner-left-inner .top h1 {
    	font-size: 36px;
    	line-height: 42px;
    	margin-bottom: 10px;
    }
    .banner-left-inner .top p {
        font-size: 16px;
    }
    .banner-left-inner .top {
        margin-bottom: 32px;
    }
    .banner-buttons {
        margin-bottom: 40px;
    }
    .banner-socials-inner {
        padding: 20px;
    }
}